{% extends "movies/header.html" %}

{% block content %}
<div class="container py-5">
    <h2><strong>"{{ movie.title }}"</strong></h2>
    <img src="{{ movie.poster.url }}" alt="Movie poster" style="width: 10%; float: right; margin-right: 10px;">
    {% if rating %}
    <div>
        <p>You rated this movie as <strong>{{ rating.rating }} out of 10</strong></p>
        <a href="{% url 'movies:rate-movie-update' movie.id %}">Update your rating</a> |
        <a href="{% url 'movies:rate-movie-delete' movie.id %}">Delete your rating</a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'movies:rate-movie' movie.id %}">Rate this movie</a>
    </div>
    {% endif %}
    <a href="{% url 'movies:review-list' movie.id %}">Check out reviews of this movie</a>
    <p>
        <strong>Synopsis:</strong>
        {{ movie.synopsis }}
    </p>
    <p><strong>Genres:</strong><br>
        {% for genre in movie.genres.all %}
        <a href="{% url 'movies:genre-movies' genre.slug %}">{{ genre }}</a><br>
        {% endfor %}
    </p>
    <p><strong>Release date:</strong> {{ movie.release_date }}</p>
    <p><strong>Country: </strong> {{ movie.get_country_display }}</p>
    <p><strong>Directed by:</strong>
        <a href="{% url 'movies:director-page' movie.director.slugged_name %}">{{movie.director }}</a>
    </p>
    <p>
        <strong>Starring:</strong>
        {% for actor in movie.actors.all %}
        <a href="{% url 'movies:actor-page' actor.slugged_name %}">{{ actor }}</a>,
        {% endfor %}
    </p>
</div>
{% endblock %}