{% extends "movies/header.html" %}

{% block content %}
<div class="container py-5">
    <h2> Number of movies found in genre "{{ genre }}": {{ movies|length }}</h2>
    {% for movie in movies %}
    <div class="container py-5">
        <a href="{% url 'movies:movie-detail' movie.slug %}">Find out more about this movie</a>
        <p><strong>"{{ movie.title }}"</strong> </p>
        {% if movie.avg_rating %}
        <p>Rating by Cookie users: <strong>{{ movie.avg_rating }}/10</strong></p>
        {% else %}
        <p>Was not rated by anyone yet</p>
        {% endif %}
        <img src="{{ movie.poster.url }}" alt="Movie poster" style="width: 10%; float: right; margin-right: 10px;">
        <p><strong>Release date:</strong> {{ movie.release_date }}</p>
        <p><strong>Country:</strong> {{ movie.get_country_display }}</p>
        <p><strong>Directed by</strong>
            <a href="{% url 'movies:director-page' movie.director.slugged_name %}">{{movie.director }}</a>
        </p>
        {% for genre in movie.genres.all %}
        <a href="{% url 'movies:genre-movies' genre.slug %}">{{genre}}</a><br>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}